<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Seminarska WBS</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <style>
        body {
            padding-top: 70px;
            /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
        }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Movie Tracker</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<!-- Page Content -->
<div class="container" ng-app="movieApp" ng-controller="movieCtrl">

    <div class="row" >
        <div class="col-lg-12 text-center">
            <h1>Movie Search Engine</h1>

            <p class="lead">Enter actor`s full name and search their movies.</p>

            <div class="col-lg-4 col-md-offset-4">
                <form>
                    <div class="form-group">
                        <label>Actor:</label>
                        <input placeholder="Jason_Statham" class="form-control" type="text" ng-model="search1" name="actor1">
                    </div>
                    <div class="form-group">
                        <label>Actor :</label>
                        <input class="form-control" placeholder="Brad_Pitt (optional)" ng-model="search2" type="text" name="actor2">
                    </div>

                    <input id="search" ng-click="searchMovie(search1)"  class="btn btn-info" type="submit"
                           value="Search"/>
                </form>
            </div>
        </div>
    </div>
    <!-- /.row -->
    <div>
        <h3>Search results:</h3>
        <div ng-hide="films.length"><h4>No results :(</h4></div>
        <div class="table-responsive" ng-show="films.length">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Director</th>
                    <th>Producer</th>
                    <th>Comment</th>
                </tr>
                </thead>
                <tbody   >
                <tr ng-repeat="film in films" track by $index>
                    <td ><a ng-click="openModal(film.name,film.starring)" href="#">{{film.name}}</a></td>
                    <td ><div ng-repeat="director in film.directors"><a  href={{director}}>{{director.split('/')[director.split('/').length-1]}}</a></div></td>
                    <td><div ng-repeat="producer in film.producers"><a  href={{producer}}>{{producer.split('/')[producer.split('/').length-1]}}</a></div></td>
                    <td>{{film.comment}}</td>

                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal fade" id="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h2 class="modal-title" ng-bind="name"></h2>
                </div>
                <div class="modal-body">
                    <h3>Starring : </h3>
                    <ul>
                        <li ng-repeat="object in actors" track by $index>
                                    <a href="{{object.actor}}">{{names[$index]}}</a>
                        </li>
                    </ul>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>

<!-- /.container -->

<!-- jQuery Version 1.11.1 -->
<script src="js/jquery.js"></script>

<script src="js/angular.min.js"></script>

<script src="js/app.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

</body>

</html>
